@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/*corps de page*/
html{
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

section {
 margin-top: -80px;
}

.services {
  height: 750px;
}

p {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  word-spacing: 5px;
  word-break: break-word;
}

/*navigation*/

.nav{
    display: flex;
    padding-top: 20px;
    margin-top: 20px;
}

.span{
    display: flex;
    justify-content: space-between;
}

/*header*/

header {
  display: flex;
  background: #fff url(images/Fd.png) center center/cover no-repeat;
  background-size: cover;
  height: 600px;
  justify-content: center;
  text-align: center;
  filter: brightness(125%);
}

.wrapper0 {
  flex-direction: column;
}

.titre {
  color: rgba(0, 255, 255, 1);
  flex-direction: column;
  justify-content: center;
  font-size: 80px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
}

.weleon {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-shadow: 3px 9px 23px #000000;
}

.menuicons {
  display: flex;
  justify-content: space-evenly;
}

.menucontainer {
  display: flex;
}

.menuwrapper {
  display: flex;
}

.headericons {
  justify-content: center;
  padding-top: 60px;
}

.symboles {
  font-size: 40px;
  color: rgba(0, 255, 255, 1);
}

/*Section 1*/

.fond {
  position: relative;
  top: 130px;
  font-size: 100px;
  opacity: 0.1;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 7px;
  color: #232c70;
}

h1 {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: grey;
}

b {
  color: rgba(0, 255, 255, 0.753);
}

.titre2 {
  color: black;
}

.container,
.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}

.menu1,
.menu2,
.menu3,
.menu4 {
  justify-content: center;
}

.menu1 {
  grid-column: 1;
  grid-row: 1;
}

.menu2 {
  grid-column: 2 / 4;
}

.menu3 {
  grid-column: 1;
}

img {
  width: 200px;
  height: 230px;
  opacity: 0.95;
  position: relative;
  left: 30px;
  top: 33px;
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  -ms-filter: grayscale(90%);
  -o-filter: grayscale(90%);
  cursor: pointer;
}

img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  z-index: 7;
}

.bandeau {
  background-color: #232c70;
  width: 80px;
  height: 300px;
}

/*section 2*/

#portfolio,
#contact {
  background-color: #fbfbfb;
}

.portfolio p {
  text-align: justify;
}

.container2,
.container4 {
  display: flex;
}

.wrapper2 {
  display: flex;
  width: 1300px;
}

.menu5,
.menu6,
.menu7 {
  text-align: center;
  box-shadow: 0px 5px 15px 0px #000;
}

.bouton {
  display: flex;
  justify-content: center;
}

button {
  text-align: center;
  background: none;
  border: 2px solid black;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  border: 2px solid #3b77e1;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 3px;
  font-size: 25px;
}

.imgportfolio {
  width: 300px;
  margin-right: 55px;
}

 /*section3*/

  .container3{
    display: flex;
  }

 .wrapper3{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 35px;
  grid-auto-rows: minmax(50px, auto);
  text-align: justify;
 }

.border{
  margin-left: 80px;
  border-bottom: solid black;
  margin-top: 30px;
  padding-bottom: 30px;
}

.border2{
  margin-left: 80px;
  padding-top: 50px;
  font-weight: lighter;
}

 .book {
  grid-column: 1;
  grid-row: 1;
  margin-left: 550px;
  margin-top: -20px;
}

.menu8 {
  grid-column: 3;
  position: static;
}

.menu9 {
  grid-column: 3;
  position: static;
  margin-top: -150px;
}

/*footer*/

.container4 {
justify-content: center;
margin-right: 600px;
}


.wrapper4 {

  display: flex;
  flex-direction: column;
  justify-content: center;


}

.menu10{
  font-size: 40px;
  font-family: "Abril Fatface", cursive;
  font-weight: bolder;
}

.footer{
  display: block;
}

.wrapper4{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gaa{

 height:80px;
 background-color:#232c70;
 text-align: center;
 
}

#gaa p{
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
}

.mail {

color: rgba(0, 255, 255, 1);
 font-size: 30px;
 font-weight: bold;
 text-decoration: none;
}


#network {
 font-size: 16px;
}

/*responsive*/
@media all and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: white;
    height: 700px;
  }

  .titre {
    color: rgba(0, 255, 255, 1);
    flex-direction: column;
    justify-content: center;
    font-size: 180px;
    font-family: "Abril Fatface", cursive;
  }

  .weleon {
    color: white;
    font-size: 60px;
  }

  .symboles {
    font-size: 150px;
  }

  h1 {
    font-size: 60px;
  }

  .menuwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    text-align: center;
  }

  .headericons {
    box-shadow: 0px 30px 50px rgba(0, 255, 255, 1);
  }

  .bandeau {
    display: none;
  }

  .fond {
    font-size: 100px;
    opacity: 0.1;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 7px;
    color: #232c70;
  }

  .soustitre {
    display: none;
  }

  b {
    color: rgba(0, 255, 255, 0.753);
    font-size: 40px;
  }

  .titre2 {
    color: black;
  }

  .container,
  .container2 {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .menu1,
  .menu2,
  .menu3,
  .menu4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    flex-direction: column;
  }

  .montagne {
    display: none;
  }

  img {
    width: 200px;
    height: 230px;
    opacity: 0.95;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    cursor: pointer;
  }

  nav {
    display: none;
  }

  .fond {
    font-size: 250px;
    opacity: 0.5;
    top: 0;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 7px;
    color: #232c70;
  }
}
